node_modules
dist
out
*.log*
.idea
/src/renderer/auto-imports.d.ts
/src/renderer/components.d.ts

/scripts/updateBuiltInAvatar.js

# Sentry Config File
.env.sentry-build-plugin
/cache/
visualizer_*.html
