@font-face {
  font-family: 'Bender';
  src: url('../fonts/Bender.otf');
}

@font-face {
  font-family: 'Bender';
  src: url('../fonts/Bender-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'FZSong';
  src: url('../fonts/FZTYSJW.woff2');
}

@font-face {
  font-family: 'NovecentoSansWide';
  src: url('../fonts/NovecentoSansWide-Medium.otf');
}

@font-face {
  font-family: 'NovecentoSansWide';
  src: url('../fonts/NovecentoSansWide-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'NovecentoSansWide';
  src: url('../fonts/NovecentoSansWide-Normal.otf');
  font-weight: 300;
}

/*@font-face {
  font-family: 'SourceHanSans';
  src: url('../fonts/SourceHanSansCN-Regular.otf');
}

@font-face {
  font-family: 'SourceHanSans';
  src: url('../fonts/SourceHanSansCN-Light.otf');
  font-weight: 300;
}*/

@import './font_1720959_vm243hswiya.css';
