@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
  /*noinspection CssUnresolvedCustomProperty*/
  background-color: var(--n-color);
  background-image: none;
}
